.contact-page {

  header {
    min-height: calc(100vh - 100px);
    padding-top: 180px;
    color: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    background: url('/assets/img/contact/header-bg.png'), #2A5850;
    background-size: cover;
    background-repeat: no-repeat;

    h3 {
      color: #3DCB97;
      font-size: 20px;
      font-weight: 400;
    }

    h1 {
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 45px;
    }

    p {
      line-height: 2;
      font-size: 18px;
      font-weight: 400;
    }

    .content {
      flex: 0 1 554px;
      padding: 0 0 150px 0;
      margin-left: 5.2%;
      margin-right: 9.4%;
    }

    .contact-form {
      flex: 1 1 594px;
      align-content: stretch;
      margin-right: 5.6%;

      .title {
        margin-bottom: 35px;
      }

      .main-icon-btn {
        margin: 0 auto;
        margin-top: 45px;
      }

      a.link {
        
        text-decoration: underline;
      }
    }

    @media screen and (max-width: $mobile-break-point) {
      margin-top: 0;
      flex-direction: column;
      padding-bottom: 63px;

      .content {
        padding: 100px 2.6% 115px 2.6%;
        margin: 0;
        text-align: center;
        flex-basis: auto;
      }

      .contact-form {
        margin: 0;
      }
    }

    @media screen and (max-width: $sm-break-point) {
      padding: 46px 7px 0 7px;
      max-height: 983px;
      margin-bottom: 641px;
      justify-content: flex-start;

      h1 {
        font-size: 24px;
        width: 198px;
        margin-left: auto;
        margin-right: auto;
        line-height: 33px;
      }

      p {
        font-size: 15px;
      }

      .content {
        padding: 100px 5.7% 49px 5.7%;
      }

      .contact-form {
        box-shadow: 0 10px 20px $light-gray;
        form {
          padding: 40px 28px 54px 28px;
        }
      }
    }
  }

  .partners {
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 45px 0px rgba(0, 0, 0, .1);

    img {
      position: relative;
      width: 100%;
    }

    @media screen and (max-width: $mobile-break-point) {
      width: 100%;
      height: 181px;
      overflow: hidden;

      img {
        width: 1087px;
      }
    }
  }

  section.about {
    h1 {
      margin: 0;
      color: $black;
      font-size: 36px;
      font-weight: 500;
    }
    p {
      color: $green;
      margin: 7.8px 0;
      font-size: 16px;
    }

    background-color: $white;
    display: flex;
    padding: 99px 8.7% 73px 8.7%;
    border-bottom: 1px solid $light-gray;

    .about-title {
      margin-right: auto;
      flex: 0 0 30%;
    }

    .about-info {
      flex-grow: 1;

      .info-item {
        border-top: 1px solid $light-gray;
        display: flex;
        padding: 22px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;

        .name {
          width: 150px;
          min-width: 150px;
          color: $gray;
        }
      }
    }

    @media screen and (max-width: $mobile-break-point) {
      flex-direction: column;

      .about-title {
        margin-bottom: 95px;
      }

      .about-info {
        margin-left: 9.8%;
      }
    }

    @media screen and (max-width: $sm-break-point) {
      padding: 72px 26px 10px 37px;
      border-bottom: none;

      .about-title { 
        margin-bottom: 45px;
      }
      .about-info { 
        margin-left: 0;

        .info-item {
          flex-direction: column;
        }
      }
    }
  }
}

.campany-info {
  padding: 5% 2.5%;
  min-height: 0;

  @media screen and (max-width: $mobile-break-point) {
    padding: 10%;
  }

  .content {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .left {
      padding-left: 50px;
      margin-right: 16.5%;
      .title { font-size: 36px; margin-bottom: 10px;}
      .sub-title { font-size: 16px; color: #3DCB97; }
    }

    .right {
      flex: 1 1 auto;
      .row {
        padding: 30px 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        border-top: 1px solid #D0D3D9;
        font-size: 16px;
      }

      .row .label {
        flex: 0 0 150px;
        margin-right: 20px;
        color: #9B9FA8;
      }

      .row .value {
        flex: 1 1 auto;
        color: #171A1D;
        line-height: 2.2;
      }
    }

    @media screen and (max-width: $mobile-break-point) {
      display: block;
      .left { width: 100%; margin-bottom: 80px; }
      .right { width: 100%; }
    }
  }
}