// Colors variables
$primary: #FFFFFF; // blue
$success: #B1EAD5; // green
$danger: #FFFFFF; // red
$warning: #B1EAD5; // yellow

// Container and shapes dimentions
$containerDimentions: 15px;
$shapeDimentions: 6px;
//shape translate amount
$amount: 10px;

// custom translation for each shape in an animation
@mixin customTranslate ($shape, $tx, $ty) {
  @if  $shape == 1 {
    transform: translate($tx, $ty);
  } @else if $shape == 2 {
    transform: translate(-$ty, $tx);
  } @else if $shape == 3 {
    transform: translate($ty, -$tx);
  } @else if $shape == 4 {
    transform: translate(-$tx, -$ty);
  }
}


.css-loading-container {
  margin-left: 25px;
  position: relative;
  width: $containerDimentions;
  height: $containerDimentions;
  animation: rotation 0.8s infinite;
  
  .shape {
    position: absolute;
    width: $shapeDimentions;
    height: $shapeDimentions;
    border-radius: 2px;
    &.shape-1 {
      left: 0;
      background-color: $primary;
    }
    &.shape-2 {
      right: 0;
      background-color: $success;
    }
    &.shape-3 {
      bottom: 0;
      background-color: $warning;
    }
    &.shape-4 {
      bottom: 0;
      right: 0;
      background-color: $danger;
    }
  }
  @for $i from 1 through 4 {
    .shape-#{$i} {
      animation: shape#{$i} 1.6s linear infinite;
    }
  }
}

@keyframes rotation {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

@for $i from 1 through 4 {
  @keyframes shape#{$i} {
    0% { transform: translate(0, 0) }
    25% { @include customTranslate($i, 0, $amount) }
    50% { @include customTranslate($i, $amount, $amount) }
    75% { @include customTranslate($i, $amount, 0) }
  }
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #3DCB97;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;

  .loading-bar {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;

    .bar-body {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      right: 0;
      left: auto;
      border-radius: 4px;
      background-color: #fff;
      animation: barLoading 6s ease-in 0s infinite both;
      
      @keyframes barLoading {
        0% {
          width: 100%;
          right: 0;
          left: auto;
        }

        3% {
          width: 0%;
          right: 0;
          left: auto;
        }

        4% {
          width: 0%;
          left: 0;
          right: auto;
        }

        100% {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
    }
  }
}

#loading.hide {
  opacity: 0;
  pointer-events: none;
}

