#function-page {
  overflow-x: hidden;

  video {
    width: 100%;
  }

  header {
    padding-top: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #F8F7F6;

    @media screen and (max-width: $mobile-break-point) {
      flex-direction: column-reverse;
      margin-top: 0;
      padding: 0;
    }

    .left, .right {
      flex: 1 1 50%;
      width: 50%;

      @media screen and (max-width: $mobile-break-point) {
        width: 100%;
        flex: 0 0 auto;
      }
    }

    .right {
      @media screen and (max-width: $mobile-break-point) {
        height: 33vh;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          background-color: #2A5850;
          width: 100%;
          height: 100%;
          opacity: 0.44;
        }
      }
    }

    .left {
      padding-top: 180px;
      padding-left: 6%;
      padding-right: 6%;

      @media screen and (max-width: $mobile-break-point) {
        padding: 0 5%;
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }

    h1 {
      font-size: 55px;
      margin-bottom: 0;

      @media screen and (max-width: $mobile-break-point) {
        font-size: 28px;
      }
    }

    p {
      font-size: 18px;
      line-height: 2;
      margin-top: 40px;
      margin-bottom: 40px;
      max-width: 450px;

      @media screen and (max-width: $mobile-break-point) {
        max-width: 100%;
        font-size: 15px;
      }
    }
  }

  section.function-flow {
    position: static;
    background-color: #fff;
    padding: 10% 5%;
    
    .title {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      img {
        margin-right: 15px;

        @media screen and (max-width: $mobile-break-point) {
          width: 30px;
        }
      }
    }

    h2 {
      font-size: 70px;
      margin: 0;

      @media screen and (max-width: $mobile-break-point) {
        font-size: 36px;
      }
    }

    p {
      font-size: 18px;
      line-height: 2;
      margin-top: 54px;
      margin-bottom: 10vh;
      max-width: 500px;

      @media screen and (max-width: $mobile-break-point) {
        max-width: 100%;
        font-size: 15px;
      }
    }

    .main-screen {
      width: 100%;
      box-shadow: -25px 44px 100px -15px rgb(0 0 0 / 30%);
      font-size: 0;
      margin-bottom: 50vh;
      will-change: transform;
      transform-style: preserve-3d;
      transform: scale3d(1, 1, 1);

      @media screen and (max-width: $mobile-break-point) {
        margin-bottom: 50px;
      }

      img {
        width: 100%;
      }
    }

    .function-nav {
      will-change: transform;
      opacity: 0;
      pointer-events: none;
      width: 250px;
      padding-left: 5%;
      position: fixed;
      top: 200px;
      left: 0;
      transition: opacity 0.3s ease;

      .active .function-title {
        color: #171A1D;
        img {
          transform: rotate(0);
          opacity: 1;
        }
      }

      .function-title {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 20px;
        color: #535965;
        cursor: pointer;
        pointer-events: visible;

        img {
          width: 10px;
          margin-right: 10px;
          vertical-align: middle;
          transform: rotate(-90deg);
          opacity: .5;
        }

        @media screen and (max-width: $mobile-break-point) {
          font-size: 20px;
        }
      }

      .function-list {
        padding-left: 25px;
        margin-bottom: 36px;

        .item {
          font-size: 16px;
          margin-bottom: 15px;
          color: #9B9FA8;
          font-weight: 300;
          cursor: pointer;
          pointer-events: visible;
        }

        .item.active {
          font-weight: 800;
          color: #171A1D;
        }
      }
    }

    .function-content {
      width: calc((100% - 250px) / 2);
      padding-left: 15%;

      @media screen and (max-width: $mobile-break-point) {
        width: 100%!important;
        padding-left: 5%!important;
        padding-right: 5%!important;
      }

      .item {
        margin-bottom: 70px;
      }

      .title {
        font-size: 20px;
        font-weight: 800;
      }

      ul {
        margin-top: 25px;
        padding-left: 20px;
        margin-bottom: 40vh;

        @media screen and (max-width: $mobile-break-point) {
          margin-bottom: 40px;
        }

        li {
          color: #535965;
          font-size: 15px;
          margin-bottom: 25px;
          line-height: 2;
        }
      }
    }

    &[data-scroll-layout="right"] {
      .function-nav {
        top: 200px;
        left: auto;
        right: 0;
      }  

      .function-content {
        width: calc((100% - 250px) / 2);
        padding-left: 0;
        padding-right: 15%;
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}