$mobile-break-point: 1024px;

.pcfx { display: flex!important; }
.pc { display: block!important; }
.m, .mfx { display: none!important; }
@media screen and (max-width: $mobile-break-point) {
  .pcfx, .pc { display: none!important; }
  .m { display: block!important; }
  .mfx { display: flex!important; }
}

body.loading {
  overflow: hidden;
}

#float-banner {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  transition: 0.3s ease;

  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.icon-item {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;

  span {
    display: inline-block;
    margin-left: 10px;
    transition: 0.3s ease;
  }

  &:hover {
    span {
      position: relative;
      transform: translateX(5px);
    }
  }
}

header, section {
  position: relative;
  width: 100%;
  min-height: 100vh;

  .content {
    width: 100%;
    max-width: 1280px;
    margin: auto;
  }
}

header {
  background-color: #fff;
  min-height: 0;
  padding-bottom: 8%;
}

.header-bottom-wave {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

section {
  background-color: #F8F7F6;
}

.main-icon-btn {
  position: relative;
  max-width: 322px;
  width: 100%;
  text-align: center;
  background-color: #3DCB97;
  color: #fff;
  font-size: 16px;
  line-height: 66px;
  border-radius: 33px;
  transition: 0.3s ease;
  display: inline-block;

  img {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s ease;
  }

  &:hover {
    background-color: #2F9471;
    padding-left: 5px;

    img {
      transform: translateX(5px);
    }
  }
}

.info-box {
  background-color: #fff;

  .sub-title {
    color: #3DCB97;
    font-size: 20px;
    margin-bottom: 25px;
  }

  h2.title {
    margin: 0;
    font-size: 73px;
    font-weight: 500;
    line-height: 1.3;
  }

  p {
    font-size: 18px;
    color: #535965;
    margin-top: 50px;
    max-width: 500px;
    line-height: 1.8;
  }

  .main-icon-btn {
    margin-top: 63px;
  }

  @media screen and (max-width: $mobile-break-point) {
    .sub-title {
      font-size: 15px;
    }
  
    h2.title {
      margin: 0;
      font-size: 27px;
    }
  
    p {
      font-size: 15px;
      color: #535965;
      margin-top: 25px;
      max-width: 90%;
      line-height: 1.8;
    }
  
    .main-icon-btn {
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }
  }
}

section.partners {
  text-align: right;
  min-height: auto;
  height: auto;

  img {
    width: 80%;
    margin: 0 0 0 auto;
  }

  @media screen and (max-width: $mobile-break-point) {
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      position: relative;
      left: 0;
      top: 0;
      width: auto;
      height: 100%;
      animation: partnersMove 10s linear 0s infinite both;
    }
  }
}

@keyframes partnersMove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

section.functions {
  padding-top: 7%;

  &.scroll-anim-show .screen-previews .screen-preview {
    opacity: 1;
    transform: translateY(0%);
  }

  &.scroll-anim-show .screen-previews {
    .screen-preview:nth-of-type(1) { transition-delay: 0s; }
    .screen-preview:nth-of-type(2) { transition-delay: 0.1s; }
    .screen-preview:nth-of-type(3) { transition-delay: 0.2s; }
    .screen-preview:nth-of-type(4) { transition-delay: 0.3s; }
    .screen-preview:nth-of-type(5) { transition-delay: 0.4s; }
    .screen-preview:nth-of-type(6) { transition-delay: 0.5s; }
  }

  .screen-previews {
    position: relative;
    width: calc( 100% - 80px );
    position: relative;
    display: flex;
    justify-content: center;

    .screen-preview {
      padding-top: 30%;
      flex: 1 1 auto;
      position: relative;
      transition: 0.5s cubic-bezier(0.25, 0.1, 0.29, 1.48);
      cursor: pointer;
      opacity: 0;
      transform: translateY(-10%);
    }

    .screen-preview.active {
      flex: 5 1 auto;
    }

    @media screen and (max-width: $mobile-break-point) {
      width: 100%;
      display: block;
      padding-top: 52.25%;

      .screen-preview {
        position: absolute;
        padding-top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: 0.3s ease;
        opacity: 0;
      }
  
      .screen-preview.active {
        width: 100%;
        opacity: 1;
      }
    }
  }

  .content {
    max-width: 100%;
    display: flex;
    justify-content: center;
    
    .left {
      width: 45%;
      display: flex;
      justify-content: flex-end;

      .left-content {
        position: relative;
        width: 70%;
        padding: 70px;
      }
    }

    .right {
      position: relative;
      z-index: 1;
      top: -80px;
      width: 55%;

      @media screen and (max-width: $mobile-break-point) {
        width: 100%;
        top: -15px;
      }
    }
  }

  .info-box {
    padding: 90px 100px;

    .title {
      font-size: 42px;
    }

    @media screen and (max-width: $mobile-break-point) {
      width: 90%;
      padding: 40px;
      margin-right: 0;
      margin-left: auto;

      .title {
        font-size: 24px;
      }
    }
  }

  .bar {
    position: relative;
    width: 100%;
    background-color: #DCDFE5;
    height: 4px;
    border-radius: 2px;

    .bar-body {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      right: 0;
      left: auto;
      border-radius: 4px;
      background-color: #3DCB97;
    }

    .bar-body.move {
      animation: barLoading 5s ease-in 0s infinite both;
      @keyframes barLoading {
        0% {
          width: 100%;
          right: 0;
          left: auto;
        }

        3% {
          width: 0%;
          right: 0;
          left: auto;
        }

        4% {
          width: 0%;
          left: 0;
          right: auto;
        }

        100% {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
    }
  }

  .function-wrapper {
    opacity: 0;
    width: calc(100% - 140px);
    pointer-events: none;
    position: absolute;
    left: 70px;
    top: 100px;
    transition: 0.3s ease;
    transform: translateX(-10%);
  }

  .function-wrapper.active {
    opacity: 1;
    pointer-events: visible;
    transform: translateX(0%);
  }

  .function-title {
    margin: 25px 0;
    font-size: 18px;
    color: #3DCB97;
    font-weight: 500;
  }

  .function-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    .icon-item {
      flex: 0 0 50%;
      width: 50%;
      margin-bottom: 20px;
    }
  }
}

section.we-do-care, section.dashboard {
  &.scroll-anim-show {
    .info-box {
      opacity: 1;
      transform: translateY(0%);
      transition: 1s ease;
    }

    .right img {
      opacity: 1;

      &.pc { transition-delay: 0s; transform: translate3d(0%, 0%, 0); }
      &.data { transition-delay: .1s; transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1); }
      &.icon { transition-delay: .2s; transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1); }
    }
  }
  .right {
    position: relative;
    img {
      opacity: 0;
      transition: 1s ease;
      will-change: transform;
    }
    img.pc {
      position: relative;
      transform: translate3d(0, -20%, 0);
    }
    img.data {
      position: absolute;
      top: 13%;
      width: 51%;
      left: 42%;
      z-index: 2;
      transform: translate3d(-50%, 5%, 0) scale3d(0.99, 1, 1);
    }
    img.icon {
      position: absolute;
      top: 41%;
      width: 24%;
      left: 61%;
      z-index: 2;
      transform: translate3d(-100%, -5%, 0) scale3d(0.95, 1, 1);
    }
  }
}

section.we-do-care, section.dashboard {
  overflow: hidden;
  padding-top: 7%;
  padding-bottom: 7%;
  min-height: auto;

  .content {
    max-width: 100%;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $mobile-break-point) {
      flex-direction: column-reverse;
    }
    
    .left {
      position: relative;
      z-index: 1;
      width: 55%;

      @media screen and (max-width: $mobile-break-point) {
        width: 100%;
      }
    }
  }

  .info-box {
    padding: 90px 100px 90px 150px;
    opacity: 0;
    transform: translateY(10%);
    transition: 0.3s ease;

    .title {
      font-size: 34px;
    }

    & > img {
      width: 50%;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    @media screen and (max-width: $mobile-break-point) {
      width: 90%;
      padding: 40px;
      margin-left: auto;
      margin-left: 0;

      & > img {
        width: 50%;
        margin-top: 0px;
        margin-bottom: 20px;
      }

      .title {
        font-size: 24px;
      }
    }
  }

  .right img {
    position: relative;
    width: 120%;
    left: -20%;
    z-index: 1;

    @media screen and (max-width: $mobile-break-point) {
      width: 100%;
      left: 5%;
      margin-bottom: -10%;
    }
  }
}

section.dashboard .right img {
  width: 100%;
  left: -8%;
  top: 30%;

  @media screen and (max-width: $mobile-break-point) {
    left: -2%;
  }
}

section.info {
  padding-top: 7%;

  &.scroll-anim-show .content {
    .info-item {
      will-change: transform;
      opacity: 1;
      transform: translateY(0%);
    }
    .info-item:nth-of-type(1) { transition-delay: 0.1s; }
    .info-item:nth-of-type(2) { transition-delay: 0.2s; }
    .info-item:nth-of-type(3) { transition-delay: 0.3s; }
    .info-item:nth-of-type(4) { transition-delay: 0.4s; }
    .info-item:nth-of-type(5) { transition-delay: 0.5s; }
    .info-item:nth-of-type(5) { transition-delay: 0.6s; }
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .info-item {
      cursor: pointer;
      position: relative;
      background-color: #fff;
      border-radius: 100px;
      flex: 0 0 calc(100% / 3 - 80px / 3);
      padding: 50px;
      text-align: center;
      margin-bottom: 50px;
      transition: 0.5s cubic-bezier(0.25, 0.1, 0.29, 1.48);
      opacity: 0;
      transform: translateY(-20%);

      & > img {
        transition: 0.3s ease;
        width: 65%;
      }

      &:hover {
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .08);
        transform: translateY(-10px);

        & > img {
          position: relative;
          transform: translateY(-5px);
        }
      }

      h3 {
        font-size: 24px;
      }

      p {
        font-size: 15px;
        line-height: 1.8;
        color: #535965;
      }

      .more {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: auto;
          height: 15%;
        }
      }

      @media screen and (max-width: $mobile-break-point) {
        cursor: pointer;
        position: relative;
        background-color: #fff;
        border-radius: 0px;
        flex: 0 0 90%;
        padding: 30px 70px 20px 25px;
        text-align: left;
        margin-bottom: 30px;
  
        & > img {
          position: absolute;
          width: 20%;
          right: 60px;
          top: -20px;
          transform: rotateY(180deg);
          z-index: 1;
        }
  
        h3 {
          font-size: 20px;
          margin-bottom: 0;
        }
  
        p {
          font-size: 14px;
          line-height: 1.5;
          color: #535965;
          padding-right: 5px;
        }
  
        .more {
          position: absolute;
          width: 100%;
          right: 0;
          left: auto;
          height: 80%;
          width: 67px;
          top: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: -1px 0 0 0 #F0F2F5;
  
          img {
            width: auto;
            height: 8px;
            transform: rotateZ(-90deg);
          }
        }
      }
    }
  }
}

section.ready-actions {
  background-color: #fff;
  position: relative;
  margin-bottom: 100px;

  &.scroll-anim-show .bg:after {
    width: 0%;
  }

  .bg {
    position: relative;

    img {
      width: 100%;
    }
  }

  .bg:after {
    content: '';
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    left: auto;
    height: 100%;
    transition: 1s ease-in;
    background-color: #fff;
  }

  & > img {
    width: 100%;
  }

  h2 {
    margin: 0;
    margin-bottom: -3%;
    font-size: 105px;
    position: relative;
    z-index: 1;
    font-weight: 800;
    padding-left: 5%;
  }

  .ready-actions-block {
    position: absolute;
    width: 85%;
    right: 0;
    bottom: -50px;
    background-color: #fff;
    padding: 70px 50px;
    display: flex;

    .left, .right {
      flex: 0 0 50%;
    }

    .left .title {
      display: flex;
      justify-content: center;
      align-items: center;

      .text {
        flex: 1 1 auto;
        font-size: 38px;
        font-weight: 800;
        padding: 0 20px;
      }
    }

    .left {
      p {
        line-height: 1.8;
        margin-top: 50px;
        font-size: 15px;
        max-width: 80%;
        margin-left: 5%;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

  @media screen and (max-width: $mobile-break-point) {
    background-color: #fff;
    position: relative;
    margin-bottom: 0;

    & > img {
      width: 100%;
    }

    h2 {
      font-size: 50px;;
    }

    .ready-actions-block {
      position: relative;
      width: 90%;
      left: 0;
      bottom: auto;
      top: -30px;
      padding: 40px;
      display: block;

      .left, .right {
        width: 100%;
      }

      .right {
        margin-top: 50px;
      }

      .left .title {
        position: relative;
        width: calc(100% + 56px);
        left: -28px;

        img {
          flex: 0 0 15px;
          width: 15px;
        }
        .text {
          font-size: 24px;
          padding: 0 10px;
        }
      }

      .left {
        p {
          margin-top: 20px;
          font-size: 15px;
          max-width: 100%;
          margin-left: 0%;
        }
      }

      .right {
        display: block;
        
        & > * {
          margin-bottom: 15px;
        }
      }
    }
  }
}

section.articles {
  padding-top: 7%;
  padding-bottom: 5%;

  .article-header {
    color: #3DCB97;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    h3 {
      margin: 0;
      flex: 1 1 auto;
    }

    .action {
      position: relative;
      flex: 0 0 192px;
      height: 37px;
      box-shadow: 0 1px 0 0 #3DCB97;
      margin-left: 30px;

      img {
        position: absolute;
        right: 10px;
        top: 8px;
      }
    }

    @media screen and (max-width: $mobile-break-point) {
      font-size: 18px;
      margin-bottom: 50px;
      margin-top: 20px;
      padding-left: 5%;

      .action {
        display: none;
      }
    }
  }

  .article-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}


.article {
  display: block;
  position: relative;
  flex: 0 0 calc((100% - 150px) / 3);
  margin-bottom: 50px;

  @media screen and (max-width: $mobile-break-point) {
    flex: 0 0 90%;
    width: 90%;
    margin-left: 5%;
  }

  &:hover {
    .img {
      box-shadow: inset 0 0 0 5px #3DCB97;
    }
    .title {
      color: #3DCB97
    }
  }

  .img {
    position: relative;
    padding-top: 52.25%;
    transition: 0.3s ease;
  }

  .title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    transition: 0.3s ease;
  }

  .note {
    margin-top: 15px;
    margin-bottom: 10px;
    span {
      font-size: 12px;
      color: #3DCB97;
      font-weight: 800;
    }
  }

  .icon-item {
    margin: 0;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #3DCB97;
    color: #fff;
    padding: 0 10px;
    border: 10px;
    line-height: 28px;
    text-align: center;
    z-index: 1;
    border-radius: 20px;
    font-size: 13px;
  }

  .icon-item img {
    margin-right: 5px;
  }
}

.article-icon-item {
  margin: 0;
  background-color: #3DCB97;
  color: #fff;
  padding: 0 10px;
  border: 10px;
  line-height: 28px;
  text-align: center;
  z-index: 1;
  border-radius: 20px;
  font-size: 13px;
}

.article-icon-item img {
  margin-right: 5px;
}

section.technology {
  padding: 5% 2.5%;
  min-height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  
  .content {
    display: flex; 
    justify-content: center;
    align-items: flex-end;
  }

  .left {
    flex: 0 0 auto;
    h2.title {
      font-size: 50px;
      margin-top: 50px;
    }
  }

  .right {
    flex: 0 0 auto;
    padding: 0 10%;
  }

  .info-box, .info-box p {
    background-color: transparent;
    color: #fff;
  }

  @media screen and (max-width: $mobile-break-point) {
    padding: 10%;
    .content {
      flex-direction: column-reverse;
    }

    .right {
      padding: 0;
      margin-bottom: 50px;
      
      img {
        width: 100%;
      }
    }

    .left {
      h2.title {
        font-size: 24px;
        margin-top: 30px;
      }
    }
  }
}

footer#footer {
  padding: 5% 2.5% 0;

  .content {
    width: 100%;
    max-width: 1280px;
    margin: auto;
  }

  .top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 15px;
    

    & > * {
      margin-right: 10%;
    }

    p {
      margin-top: 40px;
      line-height: 1.8;
      color: #535965;
    }

    a {
      display: block;
      font-weight: 800;
      color: #393D46;
      margin-bottom: 35px;
    }

    .list a {
      display: inline-block;
      width: 150px;
      color: #797E89;
      font-weight: 400;
      margin-bottom: 23px;
    }

    @media screen and (max-width: $mobile-break-point) {
      flex-direction: column;
      padding: 10% 5% 0;
      position: relative;

      .company-info {
        margin-bottom: 60px;
      }

      .links-list {
        position: absolute;
        right: 0;
        width: 45%;
        top: calc(10% + 100px);
        margin-right: 0;
      }
    }
  }

  .bottom {
    box-shadow: 0 -1px 0 0 #B9BBC3;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: right;
    color: #B9BBC3;
    font-size: 13px;
  }
}

// other pages
.other-page, .article-page {
  header {
    color: #fff;
    z-index: 1;

    .content {
      padding-left: 5%;

      @media screen and (max-width: $mobile-break-point) {
        padding-top: 100px;
      }
    }

    @media screen and (max-width: $mobile-break-point) {
      margin-top: 0;
    }

    h3 {
      color: #3DCB97;
      font-size: 20px;
      font-weight: 400;
    }

    h1 {
      font-size: 36px;
    }

    p {
      line-height: 2;
      font-size: 18px;
      font-weight: 400;
    }
  }

  .partners {
    position: relative;
    z-index: 2;
  }

  .partners img {
    position: relative;
    transform: translateY(-50px);
    box-shadow: 0px 10px 45px 0px rgba(0, 0, 0, .1);
  }
}

.articles-page, .medias-page, .case-page, .article-page {
  header {
    padding-top: 180px;
  }
  section.partners {
    overflow: initial;
  }
}