@import './var.scss';
@import './base.scss';
@import './general.scss';
@import './nav.scss';
@import './scrollbar.scss';
@import './layout.scss';
@import './functions';
@import './contact.scss';
@import './white-paper.scss';
@import './form-success.scss';
@import './video.scss';
@import './cssLoading.scss';
@import './article';


a {
  color: inherit;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

[class*="-btn"] {
  cursor: pointer;
  user-select: none;
}

[class*="bg-"] {
  background-repeat: no-repeat;
  background-position: center;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg-mask {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: radial-gradient(circle, rgba(42,88,80,0.5998774509803921) 0%, rgba(42,88,80,1) 45%);
  }

  .content {
    position: relative;
    z-index: 2;
  }
}

[hidden] {
  display: none !important;
}