@import './var.scss';
@import './base.scss';
@import './general.scss';
@import './nav.scss';
@import './scrollbar.scss';
@import './layout.scss';
@import './functions.scss';
@import './contact.scss';
@import './white-paper.scss';
@import './form-success.scss';
@import './video.scss';
@import './cssLoading.scss';
@import './article';


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[class*="-btn"] {
  cursor: pointer;
  user-select: none;
}

[class*="bg-"] {
  background-repeat: no-repeat;
  background-position: center;
}

.bg-cover {
  background-size: cover;
}