@import './base.scss';
@import './nav.scss';
@import './layout.scss';


* {
  box-sizing: border-box;
}

[class*="-btn"] {
  cursor: pointer;
  user-select: none;
}

[class*="bg-"] {
  background-repeat: no-repeat;
  background-position: center;
}

.bg-cover {
  background-size: cover;
}